html
    head
        title= "Imbue Network Dapp"
        link(
            id="material-components-styles"
            rel="stylesheet"
            href="https://unpkg.com/material-components-web@13.0.0/dist/material-components-web.min.css")

        link(
            href="https://fonts.googleapis.com/css?family=Material+Icons&display=block"
            rel="stylesheet")

        link(href="https://uploads-ssl.webflow.com/61eefd021659ab72d04a4fc1/61eefd021659abd0884a50bf_fav.png" rel="shortcut icon" type="image/x-icon")
        link(href="https://uploads-ssl.webflow.com/61eefd021659ab72d04a4fc1/61eefd021659ab8a004a5083_icon.png" rel="apple-touch-icon")

        link(rel='stylesheet' href='/public/common.css')
        link(rel='stylesheet' href='/public/index.css')

    body
        div(id='layout')
            header(id="header-wrapper" class="padded")
                div(id="main-header")
                    h1(class="main-title")
                        a(href="/")
                            div(id="logo")
                                | <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 754.95 197.51"><defs><style>.cls-1{fill:#ebeae2}.cls-2{fill:#b2ff0b}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M249.45,35.7a10.55,10.55,0,1,1,21.09,0,10.55,10.55,0,0,1-21.09,0Zm2.19,27.66H268V164.85H251.64Z"></path><path class="cls-1" d="M434.82,106.34v58.51H418.5V107.34c0-19.9-8.75-30.25-24.08-30.25-16.91,0-27.26,12.74-27.26,33.43v54.33H350.84V107.34c0-19.9-9-30.25-24.48-30.25-16.71,0-26.86,13.93-26.86,34.23v53.53H283.18V63.36h14.13l2.19,13.93c5.37-7.36,13.93-15.13,29.65-15.13,14.13,0,26.27,6.37,32,19.31,6.17-11,17.11-19.31,35.22-19.31C417.51,62.16,434.82,74.3,434.82,106.34Z"></path><path class="cls-1" d="M549.38,114.11c0,31-20.7,51.93-48.76,51.93-17.11,0-28.65-7-34.82-16.71l-2.19,15.52H449.48V25.55H465.8V79.68c6.76-9.36,17.71-17.52,34.82-17.52C528.68,62.16,549.38,81.07,549.38,114.11Zm-16.72,0c0-22.09-13.53-37.42-33.63-37.42-19.9,0-33.43,15.33-33.43,37,0,22.28,13.53,37.81,33.43,37.81C519.13,151.52,532.66,136.19,532.66,114.11Z"></path><path class="cls-1" d="M631.39,63.36h16.32V164.85H633.58l-2.19-13.53c-6,7.56-15.72,14.72-32.44,14.72-22.29,0-40-12.53-40-46.16V63.36h16.32v55.52c0,21.1,9.55,32.24,26.46,32.24,18.51,0,29.66-14.13,29.66-37Z"></path><path class="cls-1" d="M658.63,114.11c0-30.85,19.5-51.95,48.16-51.95S754.15,80.27,755,110.32c0,2.19-.2,4.58-.4,7H675.74v1.39c.6,19.31,12.74,32.84,32,32.84,14.33,0,25.47-7.56,28.86-20.7h16.51c-4,20.3-20.69,35.22-44.18,35.22C678.53,166,658.63,145.15,658.63,114.11Zm78.8-10.35C735.84,86.24,723.9,76.49,707,76.49c-14.92,0-28.65,10.75-30.24,27.27Z"></path><path class="cls-2" d="M115,51.39,148.4,32.08a10.79,10.79,0,0,0,0-18.7l-.54-.31L98.75,41.43v.62A10.79,10.79,0,0,0,115,51.39Z"></path><path class="cls-2" d="M65.84,61.05V22.42a10.8,10.8,0,0,0-16.2-9.35l-.53.31V70.09l.53.31A10.8,10.8,0,0,0,65.84,61.05Z"></path><path class="cls-2" d="M148.4,70.09l-.54.31a10.8,10.8,0,0,0,0,18.7l33.46,19.31a10.79,10.79,0,0,0,16.19-9.35v-.62Z"></path><path class="cls-2" d="M49.65,108.41,16.19,89.1A10.79,10.79,0,0,0,0,98.45v.61l49.11,28.36.54-.31A10.8,10.8,0,0,0,49.65,108.41Z"></path><path class="cls-2" d="M131.67,136.46v38.63a10.8,10.8,0,0,0,16.19,9.35l.54-.31V127.42l-.54-.31A10.79,10.79,0,0,0,131.67,136.46Z"></path><path class="cls-2" d="M82.56,146.12,49.11,165.43a10.79,10.79,0,0,0,0,18.7l.53.31,49.11-28.36v-.62A10.79,10.79,0,0,0,82.56,146.12Z"></path><path class="cls-2" d="M146.11,115l19.32,33.45a10.79,10.79,0,0,0,18.7,0l.31-.54c-12.61-21.82-15.76-27.28-28.36-49.11h-.62A10.8,10.8,0,0,0,146.11,115Z"></path><path class="cls-2" d="M136.46,65.84h38.63a10.8,10.8,0,0,0,9.35-16.2l-.31-.53H127.42l-.31.53A10.8,10.8,0,0,0,136.46,65.84Z"></path><path class="cls-2" d="M127.42,148.4l-.31-.54a10.8,10.8,0,0,0-18.7,0L89.1,181.32a10.79,10.79,0,0,0,9.35,16.19h.61C111.67,175.68,114.82,170.23,127.42,148.4Z"></path><path class="cls-2" d="M89.1,49.65l19.31-33.46A10.79,10.79,0,0,0,99.06,0h-.61C85.84,21.83,82.69,27.28,70.09,49.11l.31.54A10.8,10.8,0,0,0,89.1,49.65Z"></path><path class="cls-2" d="M61.05,131.67H22.42a10.8,10.8,0,0,0-9.35,16.19l.31.54H70.09l.31-.54A10.8,10.8,0,0,0,61.05,131.67Z"></path><path class="cls-2" d="M51.39,82.56,32.08,49.11a10.79,10.79,0,0,0-18.7,0l-.31.53L41.43,98.75h.62A10.79,10.79,0,0,0,51.39,82.56Z"></path></g></g></svg>

                    div(class="spacer")

                    div(id ="context-menu" class="context-menu")
                        div(class="context-menu-item")
                            a(id="main-menu" class="material-icons" tabindex="0" onclick=`openDrawer()`) &#xe5d2;

            div(class="menu-modal" id="menu-modal" onclick=`closeDrawer()`)


            <div name="loading" id="loading" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);" hidden=true>
                <svg xmlns="http://www.w3.org/2000/svg" height="150" viewBox="0 0 200 200" style="animation: rotation 4s infinite linear;">
                    <defs><style>.cls-1{fill:#ebeae2;}.cls-2{fill:#b2ff0b;}</style></defs>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                            <path class="cls-2" d="M115,51.39,148.4,32.08a10.79,10.79,0,0,0,0-18.7l-.54-.31L98.75,41.43v.62A10.79,10.79,0,0,0,115,51.39Z"></path><path class="cls-2" d="M65.84,61.05V22.42a10.8,10.8,0,0,0-16.2-9.35l-.53.31V70.09l.53.31A10.8,10.8,0,0,0,65.84,61.05Z"></path><path class="cls-2" d="M148.4,70.09l-.54.31a10.8,10.8,0,0,0,0,18.7l33.46,19.31a10.79,10.79,0,0,0,16.19-9.35v-.62Z"></path><path class="cls-2" d="M49.65,108.41,16.19,89.1A10.79,10.79,0,0,0,0,98.45v.61l49.11,28.36.54-.31A10.8,10.8,0,0,0,49.65,108.41Z"></path><path class="cls-2" d="M131.67,136.46v38.63a10.8,10.8,0,0,0,16.19,9.35l.54-.31V127.42l-.54-.31A10.79,10.79,0,0,0,131.67,136.46Z"></path><path class="cls-2" d="M82.56,146.12,49.11,165.43a10.79,10.79,0,0,0,0,18.7l.53.31,49.11-28.36v-.62A10.79,10.79,0,0,0,82.56,146.12Z"></path><path class="cls-2" d="M146.11,115l19.32,33.45a10.79,10.79,0,0,0,18.7,0l.31-.54c-12.61-21.82-15.76-27.28-28.36-49.11h-.62A10.8,10.8,0,0,0,146.11,115Z"></path><path class="cls-2" d="M136.46,65.84h38.63a10.8,10.8,0,0,0,9.35-16.2l-.31-.53H127.42l-.31.53A10.8,10.8,0,0,0,136.46,65.84Z"></path><path class="cls-2" d="M127.42,148.4l-.31-.54a10.8,10.8,0,0,0-18.7,0L89.1,181.32a10.79,10.79,0,0,0,9.35,16.19h.61C111.67,175.68,114.82,170.23,127.42,148.4Z"></path><path class="cls-2" d="M89.1,49.65l19.31-33.46A10.79,10.79,0,0,0,99.06,0h-.61C85.84,21.83,82.69,27.28,70.09,49.11l.31.54A10.8,10.8,0,0,0,89.1,49.65Z"></path><path class="cls-2" d="M61.05,131.67H22.42a10.8,10.8,0,0,0-9.35,16.19l.31.54H70.09l.31-.54A10.8,10.8,0,0,0,61.05,131.67Z"></path><path class="cls-2" d="M51.39,82.56,32.08,49.11a10.79,10.79,0,0,0-18.7,0l-.31.53L41.43,98.75h.62A10.79,10.79,0,0,0,51.39,82.56Z"></path>
                        </g>
                    </g>
                </svg>
            </div>
            div(class="drawer" id="right-drawer")
                nav(id="nav")
                    ul(id="menu")
                        li(class="menu-item" id="menu-item__account-dashboard")
                            a(href="/dapp/dashboard" title="Dashboard")
                                i(class="material-icons" aria-hidden="true") face
                                span() Dashboard

                        li(class="menu-item" id="menu-item__account-dashboard")
                            a(href="/dapp/proposals/draft" title="Create a Proposal")
                                i(class="material-icons" aria-hidden="true") library_add
                                span() Create A Proposal


                        li(class="menu-item" id="menu-item__account-dashboard")
                            a(href="/dapp/freelancers/new" title="Join As A Freelancer")
                                i(class="material-icons" aria-hidden="true") group_add
                                span() Join The Freelancers

                        li(class="menu-item" id="menu-item__account-dashboard")
                            a(href="/dapp/briefs/new" title="Submit a brief")
                                i(class="material-icons" aria-hidden="true") work
                                span() Submit A Brief

                        li(class="menu-item" id="menu-item__account-dashboard")
                            a(href="/dapp/proposals" title="Discover")
                                i(class="material-icons" aria-hidden="true") search
                                span() Discover Proposals

                        li(class="menu-item" id="menu-item__account-dashboard")
                            a(href="/dapp/relay" title="Transfer Funds")
                                i(class="material-icons" aria-hidden="true") money
                                span() Transfer Funds

                        li(class="menu-item" id="menu-item__account-dashboard")
                            a(href="/logout" id="sign-in-href" title="Sign out")
                                i(class="material-icons" aria-hidden="true") logout
                                span(id="sign-in-title") Sign out


            main(id="content-root" class="padded")
                block content
        script(async, defer, type='text/javascript').
            const protocol = location.protocol;
            const slashes = protocol.concat("//");
            const userInfoApiUrl = slashes.concat(window.location.host).concat("/api/v1/user");

            const request = new XMLHttpRequest();
            request.open('GET', userInfoApiUrl, false);  // `false` makes the request synchronous
            request.send(null);
            const userIsLoggedIn = request.status == 200;

            if(!userIsLoggedIn) {
                const signInHref =  document.getElementById("sign-in-href")
                const signInTitle =  document.getElementById("sign-in-title")
                const currentUrl = window.location.href;
                signInHref.href = "/dapp/login".concat("?redirect=").concat(currentUrl);
                signInTitle.innerHTML = "Sign in"
            }

            const drawer =  document.getElementById("right-drawer")
            const modal =  document.getElementById("menu-modal")

            function openDrawer() {
                drawer.classList.add("open")
                modal.classList.add("show")
            }

            function closeDrawer() {
                drawer.classList.remove("open")
                modal.classList.remove("show")
            }